version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    volumes:
      - alert_data:/app/app/database
    healthcheck:
      test: [ "CMD", "python", "-c", "import urllib.request; urllib.request.urlopen('http://localhost:8000/docs')" ]
      interval: 10s
      timeout: 5s
      retries: 5

  frontend:
    build: ./frontend-react
    ports:
      - "3000:80"
    depends_on:
      backend:
        condition: service_healthy

volumes:
  alert_data:
